.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(179, 179, 179, 0.438);
    z-index: 100;
    background-color: white;
}

.header-left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    width: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    width: 100px;
    margin-right: 50px;
}

.header-middle-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-shrink: none;
}

.header-middle-section input {
    height: 35px;
    width: 0px;
    max-width: 400px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid rgba(168, 167, 167, 0.6);
    box-shadow: inset 1px 1px 1px rgba(150, 147, 147, 0.162);
    border-radius: 2px;
    flex: 1;
    z-index: 2;
    font-size: 18px;
}

.header-middle-section input::placeholder {
    font-weight: 500;
    font-size: 16px;
}

.header-middle-section input:focus {
    outline: 1px solid rgb(53, 53, 235);
    box-shadow: none;
    border: none;
}

.header-middle-section .search-button {
    height: 41px;
    border: 1px solid rgba(168, 167, 167, 0.6);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 70px;
    margin-right: 10px;
    margin-left: -2px;
    background-color: rgb(243, 243, 243);
}

.header-middle-section .search-button:hover {
    background-color: rgba(223, 222, 222, 0.616);
}

.header-middle-section .search-button:active {
    background-color: rgba(191, 191, 191, 0.756);
}

.header-middle-section .search-button img {
    width: 25px;
    padding-top: 6px;
}

.header-middle-section .voice-search-button {
    height: 41px;
    width: 41px;
    border-radius: 20.5px;
    border: none;
    background-color: rgb(243, 243, 243);
}

.header-middle-section .voice-search-button:hover {
    background-color: rgba(223, 222, 222, 0.616);
}

.header-middle-section .voice-search-button:active {
    background-color: rgba(191, 191, 191, 0.756);
}

.header-middle-section .voice-search-button img {
    width: 25px;
    padding-top: 7px;
}

.header img, .header button{
    cursor: pointer;
}

.header-right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.header-right-section img {
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.header-right-section .header-notification-container {
    position: relative;
}

.header-right-section .header-notification-counter {
    position: absolute;
    top: -2px;
    left: 28px;
    background-color: rgb(196, 8, 8);
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 9px;
    cursor: pointer;
}

.header-right-section .my-profile {
    width: 35px;
}

.tooltip-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    background-color: rgba(98, 98, 98, 0.758);
    border-radius: 2px;
    color: white;
    font-size: 12px;
    padding: 10px 8px;
    position: absolute;
    bottom: -50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
    white-space: nowrap;
}

.tooltip-container:hover .tooltip{
    opacity: 1;
}