@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 56px;
        width: 72px;
        z-index: 200;
        background-color: white;
    }
    
    .sidebar-containers {
        height: 74px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .sidebar-containers:hover {
        background-color: rgba(221, 221, 221, 0.653);
    }
    
    .sidebar-containers img {
        width: 25px;
        margin-bottom: 5px;
    }
    
    .sidebar-containers div {
        font-size: 10px;
    }
}

@media (min-width: 1200.02px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 56px;
        width: 200px;
        z-index: 200;
        background-color: white;
    }
    
    .sidebar-containers {
        height: 74px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .sidebar-containers:hover {
        background-color: rgba(221, 221, 221, 0.653);
    }
    
    .sidebar-containers img {
        width: 25px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .sidebar-containers div {
        font-size: 14px;
        font-weight: 500;
    }
    
}